@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 30px;
    margin-top: 5%;
    background-color: rgb(94, 91, 91);

}

input{
    background-color: rgb(255, 255, 255);
    padding: 15px 30px;
}


h1{
    color: rgb(255, 255, 255);

}